<footer class="footer">
	<div class="row">
		<ul class="footer-icons">
			{% for account in site.data.social.footer %}
				{% if account.name == 'twitter' %}<li><a href="{{ account.link }}" class="icon-twitter" target="_blank"></a></li> {% endif %}
				{% if account.name == 'github' %}<li><a href="{{ account.link }}" class="icon-github" target="_blank"></a></li> {% endif %}
				{% if account.name == 'google' %}<li><a href="{{ account.link }}" class="icon-google-plus-square" target="_blank"></a></li> {% endif %}
				{% if account.name == 'facebook' %}<li><a href="{{ account.link }}" class="icon-facebook" target="_blank"></a></li> {% endif %}
			{% endfor %}
		</ul>

		<small class="footer-text tc">Made with <span class="icon-favorite"></span> by <a href="https://github.com/talentedunicorn">TalentedUnicorn</a></small>
	</div>
</footer>