// == Basic 
$documentBackgroundColor: #f4f4fa;
$documentColor: #303030;

// == Color Scheme
$red: #B86A56;
$white: #f4f4fa;
$black: #303030;
$orange: #E88F0C;
$grey: #CCCCCC;
$blue: #7091A1;

$color-success: rgba(0, 177, 120, 1);
