.section-about {
  padding-top: em(100px);
  line-height: 1.5;
  background: url(../../assets/img/src/canyon.jpg) no-repeat center center/cover;
  position: relative;

  @media screen and (min-height: 800px) {
    min-height: 100%;
    min-height: 100vh;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, .3);
  }

  .row {
    position: relative;
    z-index: 1;
  }

  h1 {
    color: $white;
  }

  .avatar {
    padding-top: em(50px);
    padding-bottom: em(50px);
    
    img {
      width: em(100px);
    }
  }

  .intro-text {
    background: $white;
    color: $black;
    padding: em(20px);

    .title {
      text-align: center;
      text-transform: uppercase;
    }

    .feature {
      background: rgba($grey, .5);
      padding: 1em;
      margin-bottom: 1em;


      &:hover {
        .block {
          color: $orange;
        }

        .icon {
          fill: $orange;
        }
      }
    }

    .block {
      text-align: center;
      font-size: 1em;
      margin: 0;
      color: rgba($black, .6);
    }

    .icon {
      font-size: 1.5em;
      display: block;
      margin: auto;
      fill: $grey;
    }
  }
}
