@font-face {
	font-family: 'portfolio';
	src:url('fonts/portfolio.eot?-b2kjnp');
	src:url('fonts/portfolio.eot?#iefix-b2kjnp') format('embedded-opentype'),
		url('fonts/portfolio.woff?-b2kjnp') format('woff'),
		url('fonts/portfolio.ttf?-b2kjnp') format('truetype'),
		url('fonts/portfolio.svg?-b2kjnp#portfolio') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'portfolio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter-alt:before {
	content: "\f099";
}

.icon-facebook-alt:before {
	content: "\f09a";
}

.icon-google-plus-square:before {
	content: "\f0d4";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-twitter:before {
	content: "\f081";
}

.icon-facebook:before {
	content: "\f082";
}

.icon-instagram:before {
	content: "\f083";
}

.icon-linkedin:before {
	content: "\f08c";
}

.icon-github:before {
	content: "\f09b";
}

.icon-soundcloud:before {
	content: "\f1be";
}

.icon-favorite:before {
	content: "\e604";
}

.icon-navigate-before:before {
	content: "\e605";
}

.icon-navigate-next:before {
	content: "\e606";
}

.icon-close:before {
	content: "\e601";
}

.icon-more-horiz:before {
	content: "\e607";
}

.icon-more-vert:before {
	content: "\e608";
}

